.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
.idea/
application/config/config.php
*.xml
*.xml
*.xml
assets/uploads/bill/core.pdf
assets/uploads/paid/core.pdf
application/config/config.php
application/config/database.php